.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  background-color: #c7b173;
  padding: 30px;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 20%;
}

.img-contact {
  border-radius: 50%;
  padding: 20px;
  width: 150px;
  height: 150px;
}

.contact-info {
  text-align: center;
  flex-basis: 60%;
}
