.header {
  display: flex;
  text-align: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px dashed #000;
  margin-bottom: 1rem;
}

.header h1 {
  margin-bottom: 0;
}
